#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .alt-header {
  background-color: #abc1d1;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

#chat-screen .status-bar__bgc {
  background-color: #abc1d1;
  z-index: 1;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 80px;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  animation: fadeIn 0.8s linear;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
}

.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-right: 15px;
}
.message-row__info {
  display: flex;
  align-items: flex-end;
}
.message-row__author {
  margin-bottom: 10px;
  display: block;
}

.message-row__bubble {
  background-color: white;
  padding: 8px 15px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 10px;
}

.message-row__author,
.message-row__time {
  opacity: 0.7;
  font-size: 15px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message-row__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 10px;
}

.message-row--own .message-row__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 5px 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -18px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 25px;
  top: 11px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button:focus {
  outline: none;
}
.reply__column button i {
  opacity: 1;
}
.reply i {
  opacity: 0.5;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within input {
  width: 96vw;
  transform: translateX(-11%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
